body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
}

#sidebar-wrapper .list-group {
    width: 20rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    height: 45px;
    line-height: 20px;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group > .list-group-item {
    padding-left: 60px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group > .list-group .list-group-item {
    padding-left: 75px;
}


.package-item::before {
    font-size: .8em;
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
    transform: rotate(90deg);
    transition: transform 50ms ease-in;
}

.arrow-down::before {
    transform: rotate(0deg);
}

.nested {
    max-height: 0;
    transition: max-height 200ms cubic-bezier(.45, .05, .55, .95);
    overflow: hidden;
}

.nested.active {
    max-height: max-content;
    transition: max-height 200ms cubic-bezier(.45, .05, .55, .95);
}

a.disabled {
    color: gray;
    pointer-events: none;
}

.big-badge {
    font-size: 1em;
}

.navbar {
    height: 60px;
}

.inner-classes {
    /*font-size: 0.8em;*/
}