<h1 class="display-4"><span class="text-black-50">class</span> {{ name }}</h1>
<h3><span class="text-black-50">extends</span> {{ extends }}</h3>
<h3><span class="text-black-50">implements</span> {{ impl_list }}</h3>
<pre>{{ docs }}</pre>

<h1 class="display-4">properties:</h1>
{{ properties }}
<hr>

<h1 class="display-4">methods:</h1>
{{ methods }}
<hr>

<div>
    <h1 class="display-4 package-item">inner classes:</h1>
    <div class="pl-5 inner-classes nested">{{ inner_classes }}</div>
</div>
<hr>