<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docs</title>
    <link rel="stylesheet" href="{{ rel_path_bootstrap }}">
    <link rel="stylesheet" href="{{ rel_path_stylesheet }}">
</head>
<body>
<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <h3>package structure</h3>
        </nav>
        <div class="list-group list-group-root list-group-flush">
            {{ package_structure }}
        </div>
    </div>

    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <h3 class="flex-grow-1">package <code>{{ package_name }}</code></h3>
            <a class="h3 flex-grow-0" href="{{ index_page_path }}">index page</a>
        </nav>

        <div class="container-fluid">
            <pre></pre>
            <p class="mt-5">{{ classes }}</p>
        </div>
    </div>
</div>

<script>
    const toggler = document.getElementsByClassName("package-item");

    for (let i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("arrow-down");
        });
    }
</script>
</body>
</html>