<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docs</title>
    <link rel="stylesheet"
          href="file:///home/vic/Dropbox/projects/4kurs/metaprog/lab_docgen/templates/css/bootstrap.min.css">
    <link rel="stylesheet" href="file:///home/vic/Dropbox/projects/4kurs/metaprog/lab_docgen/templates/css/styles.css">
    <script src="file:///home/vic/Dropbox/projects/4kurs/metaprog/lab_docgen/templates/js/jquery-3.3.1.slim.min.js"></script>
    <script src="file:///home/vic/Dropbox/projects/4kurs/metaprog/lab_docgen/templates/js/bootstrap.js"></script>
</head>
<body>
<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Package structure</div>
        <div class="list-group list-group-root card">
            {{ package_structure }}
        </div>
    </div>

    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <h3>package <code>{{ package_name }}</code></h3>
        </nav>

        <div class="container-fluid">
            <p>{{ classes }}</p>
        </div>
    </div>
</div>
</body>
</html>