<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docs</title>
    <link rel="stylesheet"
          href="file:///home/vic/Dropbox/projects/4kurs/metaprog/lab_docgen/templates/css/bootstrap.min.css">
    <link rel="stylesheet" href="file:///home/vic/Dropbox/projects/4kurs/metaprog/lab_docgen/templates/css/styles.css">
</head>
<body>
<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Package structure</div>
        <div class="list-group list-group-root card list-group-flush">
            {{ package_structure }}
        </div>
    </div>

    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <h3>package <code>{{ package_name }}</code></h3>
        </nav>

        <div class="container-fluid">
            <p>{{ classes }}</p>
        </div>
    </div>
</div>

<script>
    const toggler = document.getElementsByClassName("package-item");

    for (let i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("arrow-down");
        });
    }
</script>
</body>
</html>